body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

#product-div {
    width: 600px;
    min-height: 200px;
    background: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

#image {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

#quantity {
    margin-top: 20px;
}

#products-exit {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 32px;
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
}

#products-exit:hover {
    opacity: 0.75;
}

.text-container {
    margin: 10px;
}