*, a, span, p, body {
    font-family: halyard-text, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: halyard-display, sans-serif;
    font-weight: 200;
}

.main-body-font {
    font-family: halyard-text, sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.large-font {
    font-family: halyard-display, sans-serif;
    font-weight: 200;
    font-size: 26px;
}

.name {
    margin-bottom: 6px;
}

.price {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.department {
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 12px;
}

.low-quantity {
    color: red;
    margin-left: 16px;
}

a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

a:hover {
    color: rgb(15, 15, 15);
}

a[active] {
    color: rgb(15, 15, 15);
}

/* Layout */

#layout {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 1fr;
    grid-gap: 0;
    height: 100vh;
}

#navbar {
    grid-area: header;
}

#products {
    grid-area: main;
}

#footer {
    grid-area: footer;
}



/* Nav */

#navbar {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: #eee;

    padding-left: 10%;
    padding-right: 10%;
}

#nav-list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.nav-item {
    display: inline;
}



/* Products */

#products {

}

#products-display {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    
}

.product-container {
    width: 400px;
    height: auto;
    margin: 20px;
    position: relative;
    cursor: pointer;

    border-radius: 4px;
    overflow: hidden;

    border: 1px solid rgba(0,0,0,0.2);

    transform: translateY(0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    transition: box-shadow 200ms ease-in-out, transform 300ms ease-in-out;
}

.product-container:hover {
    transform: translateY(-3px);
    box-shadow: 7px 10px 7px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 300px;

    object-fit: cover;
}

.product-text-container {
    position: relative;
    padding: 20px;
}

.product-name {

}

.product-price {

}



/* Cart  */

/* Wraps entire page and centers #cart-div */
#cart-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-div {
    width: 400px;
    min-height: 400px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 16px;
}

#navbar {
    grid-area: header;
}

#cart-wrapper {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

.cart-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.cart-list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 16px;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

.remove-cart-item {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}



/* Footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}